name: Release mosdns

on:
  workflow_dispatch:
    tags:
      - 'v*'

permissions:
  contents: read
  actions: write

jobs:

  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          check-latest: true

      - name: Build
        run: python ./release.py
        env:
          CGO_ENABLED: '0'

      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          files: './release/mosdns*.zip'
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
